@using MudBlazor
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject RoleService RoleService

<MudBlazor.MudThemeProvider />
<MudBlazor.MudPopoverProvider />
<MudBlazor.MudDialogProvider />
<MudBlazor.MudSnackbarProvider />

<div class="page">
    <main>
        <MudBlazor.MudLayout>
            <MudBlazor.MudAppBar Elevation="2" Dense="true" Fixed="true">
                <MudBlazor.MudIconButton Icon="@Icons.Material.Rounded.Home" Color="Color.Inherit" Edge="MudBlazor.Edge.Start" Href="/"/>
                <RoleGuard RequiredRole="Admin">
                    <MudMenu Dense
                             Variant="Variant.Text"
                             Size="Size.Medium"
                             Color="Color.Inherit"
                             StartIcon="@Icons.Material.TwoTone.MoreVert"
                             Label="Configuración">
                        
                        <MudMenuItem Href="/users"
                                     ForceLoad
                                     Icon="@Icons.Material.TwoTone.VerifiedUser"
                                     IconColor="Color.Primary"
                                     Label="Usuarios" />

                        <MudMenuItem Href="/sites"
                                     ForceLoad
                                     Icon="@Icons.Material.Rounded.Build"
                                     IconColor="Color.Primary"
                                     Label="Sitios" />
                        <MudMenuItem Href="/zones"
                                     ForceLoad
                                     Icon="@Icons.Material.Rounded.Circle"
                                     IconColor="Color.Primary"
                                     Label="Zonas" />
                        <MudMenuItem Href="/centers"
                                     ForceLoad
                                     Icon="@Icons.Material.Rounded.DoorFront"
                                     IconColor="Color.Primary"
                                     Label="Centros" />

                        <MudMenuItem Href="/companies"
                                     ForceLoad
                                     Icon="@Icons.Material.Rounded.BusinessCenter"
                                     IconColor="Color.Primary"
                                     Label="Empresas" />
                        <MudMenuItem Href="/colaboradores"
                                     ForceLoad
                                     Icon="@Icons.Material.Rounded.People"
                                     IconColor="Color.Primary"
                                     Label="Colaboradores" />
                    </MudMenu>
                </RoleGuard>
                <!-- Gestión (Admin y Operador) -->
                <RoleGuard RequiredRoles="@(new string[] { "Admin", "Operador" })">
                    <MudMenu Dense
                             Variant="Variant.Text"
                             Size="Size.Medium"
                             Color="Color.Inherit"
                             StartIcon="@Icons.Material.TwoTone.MoreVert"
                             Label="Gestión">
                        
                        <MudMenuItem Href="/visitas"
                                     ForceLoad
                                     Icon="@Icons.Material.TwoTone.VerifiedUser"
                                     IconColor="Color.Primary"
                                     Label="Visitas" />
                        <MudMenuItem Href="/visitors"
                                     ForceLoad
                                     Icon="@Icons.Material.TwoTone.VerifiedUser"
                                     IconColor="Color.Primary"
                                     Label="Visitantes" />
                    </MudMenu>
                </RoleGuard>
                <!-- Vigilancia (Solo Guardia) -->
                <RoleGuard RequiredRole="Guardia">
                    <MudLink Href="/guard-panel"
                             Style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <MudIcon Icon="@Icons.Material.Rounded.Security" />
                        <span style="margin-left: 8px;">Panel de Guardia</span>
                     </MudLink>
                </RoleGuard>
                @* Aquí puedes agregar tu menú horizontal *@
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Rounded.Logout" Color="Color.Inherit" Href="/login"/>
            </MudBlazor.MudAppBar>

            <MudBlazor.MudAppBarSpacer />

            <MudBlazor.MudMainContent>
                <div class="content px-1">
                    @Body
                </div>
            </MudBlazor.MudMainContent>
        </MudBlazor.MudLayout>
    </main>
</div>