
@using MudBlazor

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthStateProvider>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @if (IsPublicRoute(routeData.PageType))
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)" />
            }
            else
            {
                <AuthGuard>
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </AuthGuard>
            }
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(PublicLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</AuthStateProvider>

@code {
    private bool IsPublicRoute(Type pageType)
    {
        var publicRoutes = new[]
        {
            typeof(Park.Front.Pages.Login)
        };
        
        return publicRoutes.Contains(pageType);
    }
}
